a {
    text-decoration: none;
    color: white;
}
body {
    color: white;
    font-family: "Oswald", sans-serif;
}

h1{text-align: center; 
    margin: 20px 0 10px 0;
    font-size: 40px; 
    padding: 20px;}
